@charset "UTF-8";

body {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    min-height: 100vh; /* Ensure full viewport height */
    margin: 0;
    padding: 20px;
     background: linear-gradient(116.21deg, rgba(216, 210, 252, 0.352) 1.56%, rgba(151, 71, 255, 0.374) 43.54%, rgba(56, 13, 227, 0.55) 91.44%);
    font-family: Arial, sans-serif;
}

.back-link {
    color: #218838;
    text-decoration: none;
    align-self: flex-start; /* Align back link to the start */
    margin-bottom: 10px; /* Add some space below the back link */
}

.back-link:hover {
    color: #166534;
}

h1 {
    text-align: center;
    margin-bottom: 20px; /* Add space below the title */
}

form {
    width: 500px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* White with 70% opacity */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block; /* Ensure labels are block-level elements */
}

input,
select,
textarea {
    width: calc(100% - 22px); /* Adjust width for padding and border */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

input[type="number"],
select,
textarea {
    height: 40px;
}

input[type="datetime-local"] {
    height: 40px;
}

button {
    background-color: #218838;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%; /* Make button full width */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

button:hover {
    background-color: #166534;
}