<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Appointment</title>
    <link rel="stylesheet" th:href="@{/css/edits.css}" />
</head>
<body>
    <div>
        <a th:href="@{/superAdmin/appointments}" class="back-link">
            ← Back to Appointments
        </a>
    </div>
    <div><h1>Edit Appointment</h1></div>
    <div> <form th:action="@{/superAdmin/appointments/edit}" 
          th:object="${appointment}"
          method="post">

        <!-- Keep the ID hidden -->
        <input type="hidden" th:field="*{appointmentId}" />

        <!-- Patient -->
            <label>Patient:</label>
            <select th:field="*{patient.patientId}" required>
                <option value="">-- Select a Patient --</option>
                <option th:each="p : ${allPatients}"
                        th:value="${p.patientId}"
                        th:text="|${p.patientId} : ${p.name}|">
                </option>
            </select><br/>

            <!-- Doctor -->
            <label>Doctor:</label>
            <select th:field="*{doctor.doctorId}" required>
                <option value="">-- Select a Doctor --</option>
                <option th:each="d : ${doctorList}"
                        th:value="${d.doctorId}"
                        th:text="|${d.doctorId} : ${d.name}|">
                </option>
            </select><br/>

            <!-- Hospital -->
            <label>Hospital:</label>
            <select th:field="*{hospital.hospitalId}" required>
                <option value="">-- Select a Hospital --</option>
                <option th:each="h : ${hospitalList}"
                        th:value="${h.hospitalId}"
                        th:text="|${h.hospitalId} : ${h.name}|">
                </option>
            </select><br/>

        <label>Date/Time:</label>
        <input type="datetime-local" th:field="*{appointmentDatetime}" required/><br/>

        <label>Status:</label>
        <select th:field="*{status}">
            <option th:value="SCHEDULED">SCHEDULED</option>
            <option th:value="RESCHEDULED">RESCHEDULED</option>
            <option th:value="CANCELLED">CANCELLED</option>
            <option th:value="COMPLETED">COMPLETED</option>
        </select><br/>

        <label>Notes:</label>
        <textarea th:field="*{notes}"></textarea><br/>

        <button type="submit">Save</button>
    </form> </div>
</body>
</html>
