<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Bed</title>
    <link rel="stylesheet" th:href="@{/css/edits.css}" />
</head>
<body>
    <a th:href="@{/superAdmin/beds}" class="back-link">
        ← Back to Beds
    </a>
    <h1>Edit Bed</h1>
    <form th:action="@{/superAdmin/beds/edit}" th:object="${bed}" method="post">
        <input type="hidden" th:field="*{bedId}" />

        <label>Hospital:</label>
            <select th:field="*{hospital.hospitalId}" required>
                <option value="">-- Select a Hospital --</option>
                <option th:each="h : ${hospitalList}"
                        th:value="${h.hospitalId}"
                        th:text="|${h.hospitalId} : ${h.name}|">
                </option>
            </select><br/>

        <label>Bed Number:</label>
        <input type="text" th:field="*{bedNumber}" required /><br/>

        <label>Ward:</label>
        <input type="text" th:field="*{ward}" /><br/>

        <label>Room Number:</label>
        <input type="text" th:field="*{roomNumber}" /><br/>

        <label>Bed Type:</label>
        <input type="text" th:field="*{bedType}" /><br/>

        <label>Is Occupied:</label>
        <input type="checkbox" th:field="*{occupied}" /><br/>

        <label>Bed Status:</label>
            <select th:field="*{bedStatus}" required>
                <option value="OCCUPIED">OCCUPIED</option>
                <option value="AVAILABLE">AVAILABLE</option>
                <option value="UNDER MAINTENANCE">UNDER MAINTENANCE</option>
            </select><br/>

        <button type="submit">Save</button>
    </form>
</body>
</html>
