<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Doctor</title>
    <link rel="stylesheet" th:href="@{/css/hospital-edits.css}" />
</head>
<body>

<div class="edit-doctor-container">
    <div class="edit-doctor-form">
        <h1>Edit Doctor</h1>

        <form th:action="@{/hospitalAdmin/doctors/edit}" th:object="${doctor}" method="post">
            <!-- Keep the ID hidden so we know which doc to update -->
            <input type="hidden" th:field="*{doctorId}" />

            <label>Name:</label>
            <input type="text" th:field="*{name}" required/>

            <label>Specialization:</label>
            <input type="text" th:field="*{specialization}" />

            <label>Email:</label>
            <input type="email" th:field="*{email}" required/>

            <label>Password:</label>
            <input type="text" th:field="*{password}" required/>

            <label>Profile Image Path:</label>
            <input type="text" th:field="*{profileImagePath}" />

            <button type="submit">Save</button>
        </form>
    </div>
</div>

</body>
</html>
