<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Hospital Admin</title>
    <link rel="stylesheet" th:href="@{/css/edits.css}" />
</head>
<body>
    <a th:href="@{/superAdmin/hospitalAdmins}" class="back-link">
        ← Back to HospitalAdmins
    </a>
    <h1>Edit Hospital Admin</h1>
    <form th:action="@{/superAdmin/hospitalAdmins/edit}"
          th:object="${hospitalAdmin}"
          method="post">
        <input type="hidden" th:field="*{hospitalAdminId}" />

        <label>Admin Name:</label>
        <input type="text" th:field="*{adminName}" required/><br/>

        <label>Email:</label>
        <input type="email" th:field="*{email}" required/><br/>

        <label>Password:</label>
        <input type="password" th:field="*{password}" required/><br/>

        <label>Phone Number:</label>
        <input type="text" th:field="*{phoneNumber}"/><br/>

        <label>Hospital:</label>
        <select name="hospitalId" required>
				<option value="">-- Select a Hospital --</option>
				<option th:each="h : ${hospitalList}" 
				        th:value="${h.hospitalId}"
					    th:text="|${h.hospitalId} : ${h.name}|">
			    </option>
		</select><br/>

        <button type="submit">Save</button>
    </form>
</body>
</html>
